[Unit]
Description=Hardware Collector (Gunicorn)
After=network.target

[Service]
User={{ collector_user }}
Group={{ collector_group }}
WorkingDirectory={{ collector_dir }}
ExecStart={{ collector_venv }}/bin/gunicorn -w 2 -b 0.0.0.0:{{ collector_port }} collector:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
